.container{
    width: 60vw;
    margin: 15vh 20vw 0 20vw;
    border: 2px solid #d0e3f4;
    padding: 2vw;
    border-radius: 1vw;
}

.viewContainer{
    display: flex;
    flex-direction: column;
    height: 25vh;
    margin-top: 2vh;
}

.title{
    font-family: sans-serif;
    font-size: large;
}


.singleButtonContainer{
    margin-top: 2vh;
    display: flex;
    justify-content: flex-end;
}

.doubleButtonContainer{
    margin-top: 2vh;
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.imageContainer{
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image, .selectedImage{
    width: 6vw;
    padding: 2vw;
    border-radius: 1vw;
}

.selectedImage{
    box-shadow: 0 0 11px rgba(33,33,33,.3);
}

.image:hover{
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33,33,33,.3);
}

.offerContainer{
    margin: auto;
}

.centeredContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
