.loading-dots-typing {
    display: flex;
    margin: 2vh 0;
}

.dot1 {
    background-color: #005ba1;
    display: block;
    width: .625rem;
    height: .625rem;
    margin: 0 .125rem;
    border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
    .dot1 {
        animation: spin-animation ease-out 1s infinite;
        animation-delay: 0.1s;
    }
}

@keyframes spin-animation {
    0% {
        transform: translateZ(0);
    }
    30%{
        transform: translate3d(0,-5px,0);
    }
    50%{
        transform: translateZ(0);
    }
    100% {
        transform: translateY(0);
    }
}

.dot2 {
    background-color: #fe7273;
    display: block;
    width: .625rem;
    height: .625rem;
    margin: 0 .125rem;
    border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
    .dot2 {
        animation: spin-animation ease-out 1s infinite;
        animation-delay: 0.2s;
    }
}

.dot3 {
    background-color: #fe7273;
    display: block;
    width: .625rem;
    height: .625rem;
    margin: 0 .125rem;
    border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
    .dot3 {
        animation: spin-animation ease-out 1s infinite;
        animation-delay: 0.3s;
    }
}
