.label{
    margin-top: 1vh;
    margin-bottom: 0.2vh;
}

.input, .autoCompleteInput{
    margin-bottom: 1vh;
    width: 20%;
    min-height: 2.75rem;
    line-height: 1.25rem;
    padding: .2rem 1rem 0 1rem;
    background: rgba(235,246,255,.5);
    color: #333;
    border: 2px solid #d0e3f4;
    outline: none;
    box-shadow: none;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all .18s ease-in-out;
}

.invalid{
    border-color: red;
}

.autoCompleteInput{
    width: 65%;
    min-height: 5rem;
}
