.button, .buttonPrimary{
    display: inline-block;
    padding: .75rem 1.25rem;
    min-width: 7vw;
    font-weight: 600;
    cursor: pointer;
    color: #005ba1;
    background: linear-gradient(180deg,#fff,#ebf6ff);
    border: 2px solid #d0e3f4;
    outline: none;
    text-decoration: none;
    border-radius: 1.5rem;
    transition: all .18s ease-in-out;
}

.buttonPrimary{
    background: #005ba1;
    color: #fff;
}

.button:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.3);
}

.buttonPrimary:hover{
    box-shadow: 0 0 11px rgba(25,34,67,.5);
}
